{% if page.mermaid %}
<script type="text/javascript"
src="https://cdn.jsdelivr.net/npm/mermaid@9.0.1/dist/mermaid.min.js">
</script>
<script>
var config = {
  startOnLoad: true,
  theme: "forest",
  flowchart:{
    useMaxWidth: true,
    htmlLabels: true
  }
};
mermaid.initialize(config);
window.mermaid.init(undefined, document.querySelectorAll('.mermaid'));
</script>
{% endif %}

{% if page.math %}
<script>
  window.MathJax = {
    options: {
      skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
      ignoreHtmlClass: 'tex2jax_ignore',
      processHtmlClass: 'tex2jax_process'
    },
    tex: {
      inlineMath: [['\\(','\\)']],
      autoload: {
        color: [],
        colorv2: ['color']
      },
      packages: {'[+]': ['noerrors']}
    },
    loader: {
      load: ['[tex]/noerrors']
    }
  };
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" id="MathJax-script"></script>
{% endif %}